*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: whitesmoke;
}
.container{
    display: flex;
}
img{
    height: 500px;
    width: 350px;
    border-radius: 3px;
    transition: .5s;
}
.intro{
    height: 70px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 110px;
    background: rgb(27,27,27,.5);
    color: white;
    transition: .5s;

}
.card{
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

h1{
    margin: 10px;
    font-size: 40px;
}
p{
    margin: 20px;
    font-size: 20px;
    visibility: hidden;
     opacity: 0; 
}

.card:hover{
    cursor: pointer;
}

.card:hover .intro{
    height: 220px;
    bottom: 100px;
    background:black;
}
.card:hover p{
    opacity: 1;
    visibility: visible;
}
.card:hover img{
    transform: scale(1.1) rotate(-3deg);
} 

