<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie APi</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div class="container">
        <div class="card">
          <img src=<%=image %> alt="image" />
          <div class="intro">          
            <h1><%=title  %></h1>
            <p><%=description  %></p>
          </div>
        </div> 
        </div>
    <ul>
    
    </ul>
</body>
</html>